<!DOCTYPE html>
<html>
<head>
    <title> </title>
</head>
<body>
    <br />
    <br />
    <hr />
    <h1>BankSignatory</h1>
    <br />Address
    <input type="text" name="Address" ng-model="BankSignatory.Address" />
    <br />BankAC
    <input type="text" name="BankAC" ng-model="BankSignatory.BankAC" />
    <br />BankName
    <input type="text" name="BankName" ng-model="BankSignatory.BankName" />
    <br />Branch
    <input type="text" name="Branch" ng-model="BankSignatory.Branch" />
    <br />District
    <input type="text" name="District" ng-model="BankSignatory.District" />
    <br />Id
    <input type="text" name="Id" ng-model="BankSignatory.Id" />
    <br />Region
    <input type="text" name="Region" ng-model="BankSignatory.Region" />
    <br />Signatory1
    <input type="text" name="Signatory1" ng-model="BankSignatory.Signatory1" />
    <br />Signatory2
    <input type="text" name="Signatory2" ng-model="BankSignatory.Signatory2" />
    <br />Signatory3
    <input type="text" name="Signatory3" ng-model="BankSignatory.Signatory3" />
    <br />Signatory4
    <input type="text" name="Signatory4" ng-model="BankSignatory.Signatory4" />
    <br />State
    <input type="text" name="State" ng-model="BankSignatory.State" />
    <br />UnitName
    <input type="text" name="UnitName" ng-model="BankSignatory.UnitName" />
    <br />
    <br />
    <hr />
    <h1>Client</h1>
    <br />CenterID
    <input type="text" name="CenterID" ng-model="Client.CenterID" />
    <br />CenterName
    <input type="text" name="CenterName" ng-model="Client.CenterName" />
    <br />ClientID
    <input type="text" name="ClientID" ng-model="Client.ClientID" />
    <br />ClientName
    <input type="text" name="ClientName" ng-model="Client.ClientName" />
    <br />ConcernStaff
    <input type="text" name="ConcernStaff" ng-model="Client.ConcernStaff" />
    <br />Dormancy
    <input type="text" name="Dormancy" ng-model="Client.Dormancy" />
    <br />DropoutDate
    <input type="text" name="DropoutDate" ng-model="Client.DropoutDate" />
    <br />DropoutStatus
    <input type="text" name="DropoutStatus" ng-model="Client.DropoutStatus" />
    <br />HusbandOrFatherName
    <input type="text" name="HusbandOrFatherName" ng-model="Client.HusbandOrFatherName" />
    <br />Id
    <input type="text" name="Id" ng-model="Client.Id" />
    <br />Insurance
    <input type="text" name="Insurance" ng-model="Client.Insurance" />
    <br />JoinDate
    <input type="text" name="JoinDate" ng-model="Client.JoinDate" />
    <br />MotherName
    <input type="text" name="MotherName" ng-model="Client.MotherName" />
    <br />PovertyStatus
    <input type="text" name="PovertyStatus" ng-model="Client.PovertyStatus" />
    <br />Replacement
    <input type="text" name="Replacement" ng-model="Client.Replacement" />
    <br />TargetID
    <input type="text" name="TargetID" ng-model="Client.TargetID" />
    <br />UnitName
    <input type="text" name="UnitName" ng-model="Client.UnitName" />
    <br />
    <br />
    <hr />
    <h1>Crt</h1>
    <br />Address
    <input type="text" name="Address" ng-model="Crt.Address" />
    <br />BDA_name
    <input type="text" name="BDA_name" ng-model="Crt.BDA_name" />
    <br />BE_name
    <input type="text" name="BE_name" ng-model="Crt.BE_name" />
    <br />Crt_name
    <input type="text" name="Crt_name" ng-model="Crt.Crt_name" />
    <br />First_meeting_date
    <input type="text" name="First_meeting_date" ng-model="Crt.First_meeting_date" />
    <br />Test_number
    <input type="text" name="Test_number" ng-model="Crt.Test_number" />
    <br />Tester_name
    <input type="text" name="Tester_name" ng-model="Crt.Tester_name" />
    <br />UM_name
    <input type="text" name="UM_name" ng-model="Crt.UM_name" />
    <br />Unit_name
    <input type="text" name="Unit_name" ng-model="Crt.Unit_name" />
    <br />crt_id
    <input type="text" name="crt_id" ng-model="Crt.crt_id" />
    <br />
    <br />
    <hr />
    <h1>LoanProposal</h1>
    <br />Amount
    <input type="text" name="Amount" ng-model="LoanProposal.Amount" />
    <br />CenterName
    <input type="text" name="CenterName" ng-model="LoanProposal.CenterName" />
    <br />ClientId
    <input type="text" name="ClientId" ng-model="LoanProposal.ClientId" />
    <br />ClientName
    <input type="text" name="ClientName" ng-model="LoanProposal.ClientName" />
    <br />Comment
    <input type="text" name="Comment" ng-model="LoanProposal.Comment" />
    <br />Id
    <input type="text" name="Id" ng-model="LoanProposal.Id" />
    <br />LoanProduct
    <input type="text" name="LoanProduct" ng-model="LoanProposal.LoanProduct" />
    <br />LoanPurpose
    <input type="text" name="LoanPurpose" ng-model="LoanProposal.LoanPurpose" />
    <br />Model
    <input type="text" name="Model" ng-model="LoanProposal.Model" />
    <br />ProposalDate
    <input type="text" name="ProposalDate" ng-model="LoanProposal.ProposalDate" />
    <br />ProposalId
    <input type="text" name="ProposalId" ng-model="LoanProposal.ProposalId" />
    <br />SequenceId
    <input type="text" name="SequenceId" ng-model="LoanProposal.SequenceId" />
    <br />StaffName
    <input type="text" name="StaffName" ng-model="LoanProposal.StaffName" />
    <br />UnitName
    <input type="text" name="UnitName" ng-model="LoanProposal.UnitName" />
    <br />Vendor
    <input type="text" name="Vendor" ng-model="LoanProposal.Vendor" />
    <br />Weeks
    <input type="text" name="Weeks" ng-model="LoanProposal.Weeks" />
    <br />
    <br />
    <hr />
    <h1>Roles</h1>
    <br />Id
    <input type="text" name="Id" ng-model="Roles.Id" />
    <br />
    <br />
    <hr />
    <h1>Staff</h1>
    <br />address
    <input type="text" name="address" ng-model="Staff.address" />
    <br />branch_name
    <input type="text" name="branch_name" ng-model="Staff.branch_name" />
    <br />center_formed
    <input type="text" name="center_formed" ng-model="Staff.center_formed" />
    <br />center_managed
    <input type="text" name="center_managed" ng-model="Staff.center_managed" />
    <br />company_joining_date
    <input type="text" name="company_joining_date" ng-model="Staff.company_joining_date" />
    <br />contact_no
    <input type="text" name="contact_no" ng-model="Staff.contact_no" />
    <br />destrict_name
    <input type="text" name="destrict_name" ng-model="Staff.destrict_name" />
    <br />email_id
    <input type="text" name="email_id" ng-model="Staff.email_id" />
    <br />exited_form_branch_date
    <input type="text" name="exited_form_branch_date" ng-model="Staff.exited_form_branch_date" />
    <br />family_members
    <input type="text" name="family_members" ng-model="Staff.family_members" />
    <br />father_name
    <input type="text" name="father_name" ng-model="Staff.father_name" />
    <br />loan_client
    <input type="text" name="loan_client" ng-model="Staff.loan_client" />
    <br />portfolio_outstanding
    <input type="text" name="portfolio_outstanding" ng-model="Staff.portfolio_outstanding" />
    <br />portfolio_risk
    <input type="text" name="portfolio_risk" ng-model="Staff.portfolio_risk" />
    <br />region_name
    <input type="text" name="region_name" ng-model="Staff.region_name" />
    <br />sex
    <input type="text" name="sex" ng-model="Staff.sex" />
    <br />staff_Id
    <input type="text" name="staff_Id" ng-model="Staff.staff_Id" />
    <br />staff_account_details
    <input type="text" name="staff_account_details" ng-model="Staff.staff_account_details" />
    <br />staff_designation
    <input type="text" name="staff_designation" ng-model="Staff.staff_designation" />
    <br />staff_dob
    <input type="text" name="staff_dob" ng-model="Staff.staff_dob" />
    <br />staff_name
    <input type="text" name="staff_name" ng-model="Staff.staff_name" />
    <br />state_name
    <input type="text" name="state_name" ng-model="Staff.state_name" />
    <br />unit_joining_date
    <input type="text" name="unit_joining_date" ng-model="Staff.unit_joining_date" />
    <br />unit_name
    <input type="text" name="unit_name" ng-model="Staff.unit_name" />
    <br />upload_staff_pic
    <input type="text" name="upload_staff_pic" ng-model="Staff.upload_staff_pic" />
    <br />work_start_date
    <input type="text" name="work_start_date" ng-model="Staff.work_start_date" />
    <br />
    <br />
    <hr />
    <h1>Target</h1>
    <br />Address2
    <input type="text" name="Address2" ng-model="Target.Address2" />
    <br />BC_name
    <input type="text" name="BC_name" ng-model="Target.BC_name" />
    <br />BDA_name
    <input type="text" name="BDA_name" ng-model="Target.BDA_name" />
    <br />DOB
    <input type="text" name="DOB" ng-model="Target.DOB" />
    <br />Enorollment_no
    <input type="text" name="Enorollment_no" ng-model="Target.Enorollment_no" />
    <br />Father_name
    <input type="text" name="Father_name" ng-model="Target.Father_name" />
    <br />Housing_type
    <input type="text" name="Housing_type" ng-model="Target.Housing_type" />
    <br />Husband_name
    <input type="text" name="Husband_name" ng-model="Target.Husband_name" />
    <br />ID_number
    <input type="text" name="ID_number" ng-model="Target.ID_number" />
    <br />ID_type
    <input type="text" name="ID_type" ng-model="Target.ID_type" />
    <br />IFSC_code
    <input type="text" name="IFSC_code" ng-model="Target.IFSC_code" />
    <br />Index_score
    <input type="text" name="Index_score" ng-model="Target.Index_score" />
    <br />Member_Name
    <input type="text" name="Member_Name" ng-model="Target.Member_Name" />
    <br />Mother_name
    <input type="text" name="Mother_name" ng-model="Target.Mother_name" />
    <br />No_of_members
    <input type="text" name="No_of_members" ng-model="Target.No_of_members" />
    <br />Resident_proof
    <input type="text" name="Resident_proof" ng-model="Target.Resident_proof" />
    <br />Target_id
    <input type="text" name="Target_id" ng-model="Target.Target_id" />
    <br />Unit_name
    <input type="text" name="Unit_name" ng-model="Target.Unit_name" />
    <br />address
    <input type="text" name="address" ng-model="Target.address" />
    <br />age
    <input type="text" name="age" ng-model="Target.age" />
    <br />bank_ac_number
    <input type="text" name="bank_ac_number" ng-model="Target.bank_ac_number" />
    <br />bank_branch_name
    <input type="text" name="bank_branch_name" ng-model="Target.bank_branch_name" />
    <br />bank_name
    <input type="text" name="bank_name" ng-model="Target.bank_name" />
    <br />caste
    <input type="text" name="caste" ng-model="Target.caste" />
    <br />cost_of _animal
    <input type="text" name="cost_of _animal" ng-model="Target.cost_of _animal" />
    <br />date
    <input type="text" name="date" ng-model="Target.date" />
    <br />daughter_above15
    <input type="text" name="daughter_above15" ng-model="Target.daughter_above15" />
    <br />daughter_below15
    <input type="text" name="daughter_below15" ng-model="Target.daughter_below15" />
    <br />details
    <input type="text" name="details" ng-model="Target.details" />
    <br />mobile_number
    <input type="text" name="mobile_number" ng-model="Target.mobile_number" />
    <br />no_of_animals
    <input type="text" name="no_of_animals" ng-model="Target.no_of_animals" />
    <br />no_of_daughter
    <input type="text" name="no_of_daughter" ng-model="Target.no_of_daughter" />
    <br />no_of_sons
    <input type="text" name="no_of_sons" ng-model="Target.no_of_sons" />
    <br />own_irrigate
    <input type="text" name="own_irrigate" ng-model="Target.own_irrigate" />
    <br />own_non_irrigate
    <input type="text" name="own_non_irrigate" ng-model="Target.own_non_irrigate" />
    <br />poverty_status
    <input type="text" name="poverty_status" ng-model="Target.poverty_status" />
    <br />product_assets_value
    <input type="text" name="product_assets_value" ng-model="Target.product_assets_value" />
    <br />response
    <input type="text" name="response" ng-model="Target.response" />
    <br />sahred_irrigate
    <input type="text" name="sahred_irrigate" ng-model="Target.sahred_irrigate" />
    <br />share_non_irrigate
    <input type="text" name="share_non_irrigate" ng-model="Target.share_non_irrigate" />
    <br />son_above15
    <input type="text" name="son_above15" ng-model="Target.son_above15" />
    <br />son_below15
    <input type="text" name="son_below15" ng-model="Target.son_below15" />
    <br />staff_name
    <input type="text" name="staff_name" ng-model="Target.staff_name" />
    <br />total_area
    <input type="text" name="total_area" ng-model="Target.total_area" />
    <br />
    <br />
    <hr />
    <h1>Vendor</h1>
    <br />Address
    <input type="text" name="Address" ng-model="Vendor.Address" />
    <br />BranchName
    <input type="text" name="BranchName" ng-model="Vendor.BranchName" />
    <br />City
    <input type="text" name="City" ng-model="Vendor.City" />
    <br />Comment
    <input type="text" name="Comment" ng-model="Vendor.Comment" />
    <br />ContactNumber
    <input type="text" name="ContactNumber" ng-model="Vendor.ContactNumber" />
    <br />District
    <input type="text" name="District" ng-model="Vendor.District" />
    <br />Email
    <input type="text" name="Email" ng-model="Vendor.Email" />
    <br />Id
    <input type="text" name="Id" ng-model="Vendor.Id" />
    <br />IsArchive
    <input type="text" name="IsArchive" ng-model="Vendor.IsArchive" />
    <br />PostOffice
    <input type="text" name="PostOffice" ng-model="Vendor.PostOffice" />
    <br />RegionName
    <input type="text" name="RegionName" ng-model="Vendor.RegionName" />
    <br />State
    <input type="text" name="State" ng-model="Vendor.State" />
    <br />TIN
    <input type="text" name="TIN" ng-model="Vendor.TIN" />
    <br />UnitName
    <input type="text" name="UnitName" ng-model="Vendor.UnitName" />
    <br />VendorId
    <input type="text" name="VendorId" ng-model="Vendor.VendorId" />
    <br />VendorName
    <input type="text" name="VendorName" ng-model="Vendor.VendorName" />
    <br />
    <br />
    <hr />
    <h1>center</h1>
    <br />Fromation_date
    <input type="text" name="Fromation_date" ng-model="center.Fromation_date" />
    <br />block
    <input type="text" name="block" ng-model="center.block" />
    <br />center_id
    <input type="text" name="center_id" ng-model="center.center_id" />
    <br />center_name
    <input type="text" name="center_name" ng-model="center.center_name" />
    <br />crt_id
    <input type="text" name="crt_id" ng-model="center.crt_id" />
    <br />staff_id
    <input type="text" name="staff_id" ng-model="center.staff_id" />
    <br />unit_name
    <input type="text" name="unit_name" ng-model="center.unit_name" />
    <br />
    <br />
    <hr />
    <h1>client_transfar</h1>
    <br />branch_name
    <input type="text" name="branch_name" ng-model="client_transfar.branch_name" />
    <br />client_center
    <input type="text" name="client_center" ng-model="client_transfar.client_center" />
    <br />client_name
    <input type="text" name="client_name" ng-model="client_transfar.client_name" />
    <br />distric_name
    <input type="text" name="distric_name" ng-model="client_transfar.distric_name" />
    <br />region_name
    <input type="text" name="region_name" ng-model="client_transfar.region_name" />
    <br />state_name
    <input type="text" name="state_name" ng-model="client_transfar.state_name" />
    <br />tranfar_type
    <input type="text" name="tranfar_type" ng-model="client_transfar.tranfar_type" />
    <br />unit_name
    <input type="text" name="unit_name" ng-model="client_transfar.unit_name" />
</body>
</html>