<div>
    <form name="BankSignatoryForm">
        <h1>BankSignatory</h1>
        <br />Address
        <input type="text" name="Address" ng-model="BankSignatory.Address" />
        <br />BankAC
        <input type="text" name="BankAC" ng-model="BankSignatory.BankAC" />
        <br />BankName
        <input type="text" name="BankName" ng-model="BankSignatory.BankName" />
        <br />Branch
        <input type="text" name="Branch" ng-model="BankSignatory.Branch" />
        <br />District
        <input type="text" name="District" ng-model="BankSignatory.District" />
        <br />Id
        <input type="text" name="Id" ng-model="BankSignatory.Id" />
        <br />Region
        <input type="text" name="Region" ng-model="BankSignatory.Region" />
        <br />Signatory1
        <input type="text" name="Signatory1" ng-model="BankSignatory.Signatory1" />
        <br />Signatory2
        <input type="text" name="Signatory2" ng-model="BankSignatory.Signatory2" />
        <br />Signatory3
        <input type="text" name="Signatory3" ng-model="BankSignatory.Signatory3" />
        <br />Signatory4
        <input type="text" name="Signatory4" ng-model="BankSignatory.Signatory4" />
        <br />State
        <input type="text" name="State" ng-model="BankSignatory.State" />
        <br />UnitName
        <input type="text" name="UnitName" ng-model="BankSignatory.UnitName" />
        <br />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>