<div>
    <form name="centerForm">
        <h1>center</h1>
        <br />Fromation_date
        <input type="text" name="Fromation_date" ng-model="center.Fromation_date" />
        <br />block
        <input type="text" name="block" ng-model="center.block" />
        <br />center_id
        <input type="text" name="center_id" ng-model="center.center_id" />
        <br />center_name
        <input type="text" name="center_name" ng-model="center.center_name" />
        <br />crt_id
        <input type="text" name="crt_id" ng-model="center.crt_id" />
        <br />staff_id
        <input type="text" name="staff_id" ng-model="center.staff_id" />
        <br />unit_name
        <input type="text" name="unit_name" ng-model="center.unit_name" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>