<div>
    <form name="ClientForm">
        <h1>Client</h1>
        <br />CenterID
        <input type="text" name="CenterID" ng-model="Client.CenterID" />
        <br />CenterName
        <input type="text" name="CenterName" ng-model="Client.CenterName" />
        <br />ClientID
        <input type="text" name="ClientID" ng-model="Client.ClientID" />
        <br />ClientName
        <input type="text" name="ClientName" ng-model="Client.ClientName" />
        <br />ConcernStaff
        <input type="text" name="ConcernStaff" ng-model="Client.ConcernStaff" />
        <br />Dormancy
        <input type="text" name="Dormancy" ng-model="Client.Dormancy" />
        <br />DropoutDate
        <input type="text" name="DropoutDate" ng-model="Client.DropoutDate" />
        <br />DropoutStatus
        <input type="text" name="DropoutStatus" ng-model="Client.DropoutStatus" />
        <br />HusbandOrFatherName
        <input type="text" name="HusbandOrFatherName" ng-model="Client.HusbandOrFatherName" />
        <br />Id
        <input type="text" name="Id" ng-model="Client.Id" />
        <br />Insurance
        <input type="text" name="Insurance" ng-model="Client.Insurance" />
        <br />JoinDate
        <input type="text" name="JoinDate" ng-model="Client.JoinDate" />
        <br />MotherName
        <input type="text" name="MotherName" ng-model="Client.MotherName" />
        <br />PovertyStatus
        <input type="text" name="PovertyStatus" ng-model="Client.PovertyStatus" />
        <br />Replacement
        <input type="text" name="Replacement" ng-model="Client.Replacement" />
        <br />TargetID
        <input type="text" name="TargetID" ng-model="Client.TargetID" />
        <br />UnitName
        <input type="text" name="UnitName" ng-model="Client.UnitName" />
        <br />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>