<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form name="client_transfar">
        <h1>client_transfar</h1>
        <br />branch_name
        <input type="text" name="branch_name" ng-model="client_transfar.branch_name" />
        <br />client_center
        <input type="text" name="client_center" ng-model="client_transfar.client_center" />
        <br />client_name
        <input type="text" name="client_name" ng-model="client_transfar.client_name" />
        <br />distric_name
        <input type="text" name="distric_name" ng-model="client_transfar.distric_name" />
        <br />region_name
        <input type="text" name="region_name" ng-model="client_transfar.region_name" />
        <br />state_name
        <input type="text" name="state_name" ng-model="client_transfar.state_name" />
        <br />tranfar_type
        <input type="text" name="tranfar_type" ng-model="client_transfar.tranfar_type" />
        <br />unit_name
        <input type="text" name="unit_name" ng-model="client_transfar.unit_name" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</body>
</html>
