<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form name="Crt">
        <h1>Crt</h1>
        <br />Address
        <input type="text" name="Address" ng-model="Crt.Address" />
        <br />BDA_name
        <input type="text" name="BDA_name" ng-model="Crt.BDA_name" />
        <br />BE_name
        <input type="text" name="BE_name" ng-model="Crt.BE_name" />
        <br />Crt_name
        <input type="text" name="Crt_name" ng-model="Crt.Crt_name" />
        <br />First_meeting_date
        <input type="text" name="First_meeting_date" ng-model="Crt.First_meeting_date" />
        <br />Test_number
        <input type="text" name="Test_number" ng-model="Crt.Test_number" />
        <br />Tester_name
        <input type="text" name="Tester_name" ng-model="Crt.Tester_name" />
        <br />UM_name
        <input type="text" name="UM_name" ng-model="Crt.UM_name" />
        <br />Unit_name
        <input type="text" name="Unit_name" ng-model="Crt.Unit_name" />
        <br />crt_id
        <input type="text" name="crt_id" ng-model="Crt.crt_id" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</body>
</html>
