<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <form name="LoanProposal">
        <h1>LoanProposal</h1>
        <br />Amount
        <input type="text" name="Amount" ng-model="LoanProposal.Amount" />
        <br />CenterName
        <input type="text" name="CenterName" ng-model="LoanProposal.CenterName" />
        <br />ClientId
        <input type="text" name="ClientId" ng-model="LoanProposal.ClientId" />
        <br />ClientName
        <input type="text" name="ClientName" ng-model="LoanProposal.ClientName" />
        <br />Comment
        <input type="text" name="Comment" ng-model="LoanProposal.Comment" />
        <br />Id
        <input type="text" name="Id" ng-model="LoanProposal.Id" />
        <br />LoanProduct
        <input type="text" name="LoanProduct" ng-model="LoanProposal.LoanProduct" />
        <br />LoanPurpose
        <input type="text" name="LoanPurpose" ng-model="LoanProposal.LoanPurpose" />
        <br />Model
        <input type="text" name="Model" ng-model="LoanProposal.Model" />
        <br />ProposalDate
        <input type="text" name="ProposalDate" ng-model="LoanProposal.ProposalDate" />
        <br />ProposalId
        <input type="text" name="ProposalId" ng-model="LoanProposal.ProposalId" />
        <br />SequenceId
        <input type="text" name="SequenceId" ng-model="LoanProposal.SequenceId" />
        <br />StaffName
        <input type="text" name="StaffName" ng-model="LoanProposal.StaffName" />
        <br />UnitName
        <input type="text" name="UnitName" ng-model="LoanProposal.UnitName" />
        <br />Vendor
        <input type="text" name="Vendor" ng-model="LoanProposal.Vendor" />
        <br />Weeks
        <input type="text" name="Weeks" ng-model="LoanProposal.Weeks" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</body>
</html>
