<div>
    <form name="LoanProposalForm">
        <textarea>abc  {{clientData}}</textarea>
        <h1>LoanProposal</h1>
        <br />Amount
        <input type="text" name="Amount" ng-model="LoanProposal.Amount" />
        <br />CenterName
        <select ng-model="LoanProposal.ClientId">
            <option ng-repeat="ctr in centerData" value="{{ctr.$id}}">{{ctr.center_name}}</option>
        </select>        
        <!--<input type="text" name="CenterName" ng-model="LoanProposal.CenterName" />-->
        <br />ClientId
        <select ng-model="LoanProposal.ClientId">
            <option ng-repeat="clnt in clientData" value="{{clnt.$id}}">{{clnt.ClientName}}</option>
        </select>        
        <!--<input type="text" name="ClientId" ng-model="LoanProposal.ClientId" />-->

        <br />ClientName
        <input type="text" name="ClientName" ng-model="LoanProposal.ClientName" />
        <br />Comment
        <input type="text" name="Comment" ng-model="LoanProposal.Comment" />
        <br />Id
        <input type="text" name="Id" ng-model="LoanProposal.Id" />
        <br />LoanProduct
        <input type="text" name="LoanProduct" ng-model="LoanProposal.LoanProduct" />
        <br />LoanPurpose
        <input type="text" name="LoanPurpose" ng-model="LoanProposal.LoanPurpose" />
        <br />Model
        <input type="text" name="Model" ng-model="LoanProposal.Model" />
        <br />ProposalDate
        <input type="date" name="ProposalDate" ng-model="LoanProposal.ProposalDate" />
        <br />ProposalId
        <input type="text" name="ProposalId" ng-model="LoanProposal.ProposalId" />
        <br />SequenceId
        <input type="text" name="SequenceId" ng-model="LoanProposal.SequenceId" />
        <br />StaffName
        <select ng-model="LoanProposal.StaffId">
            <option ng-repeat="stf in staffData" value="{{stf.$id}}">{{stf.staff_name}}</option>
        </select>        
        <!--<input type="text" name="StaffName" ng-model="LoanProposal.StaffName" />-->
        <br />UnitName
        <input type="text" name="UnitName" ng-model="LoanProposal.UnitName" />
        <br />Vendor
        <input type="text" name="Vendor" ng-model="LoanProposal.Vendor" />
        <br />Weeks
        <input type="text" name="Weeks" ng-model="LoanProposal.Weeks" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>