
<div>
    <form name="staffForm">
        <h1>Staff</h1>
        <br />address
        <input type="text" name="address" ng-model="Staff.address" />
        <br />branch_name
        <input type="text" name="branch_name" ng-model="Staff.branch_name" />
        <br />center_formed
        <input type="text" name="center_formed" ng-model="Staff.center_formed" />
        <br />center_managed
        <input type="text" name="center_managed" ng-model="Staff.center_managed" />
        <br />company_joining_date
        <input type="text" name="company_joining_date" ng-model="Staff.company_joining_date" />
        <br />contact_no
        <input type="text" name="contact_no" ng-model="Staff.contact_no" />
        <br />destrict_name
        <input type="text" name="destrict_name" ng-model="Staff.destrict_name" />
        <br />email_id
        <input type="text" name="email_id" ng-model="Staff.email_id" />
        <br />exited_form_branch_date
        <input type="text" name="exited_form_branch_date" ng-model="Staff.exited_form_branch_date" />
        <br />family_members
        <input type="text" name="family_members" ng-model="Staff.family_members" />
        <br />father_name
        <input type="text" name="father_name" ng-model="Staff.father_name" />
        <br />loan_client
        <input type="text" name="loan_client" ng-model="Staff.loan_client" />
        <br />portfolio_outstanding
        <input type="text" name="portfolio_outstanding" ng-model="Staff.portfolio_outstanding" />
        <br />portfolio_risk
        <input type="text" name="portfolio_risk" ng-model="Staff.portfolio_risk" />
        <br />region_name
        <input type="text" name="region_name" ng-model="Staff.region_name" />
        <br />sex
        <input type="text" name="sex" ng-model="Staff.sex" />
        <br />staff_Id
        <input type="text" name="staff_Id" ng-model="Staff.staff_Id" />
        <br />staff_account_details
        <input type="text" name="staff_account_details" ng-model="Staff.staff_account_details" />
        <br />staff_designation
        <input type="text" name="staff_designation" ng-model="Staff.staff_designation" />
        <br />staff_dob
        <input type="text" name="staff_dob" ng-model="Staff.staff_dob" />
        <br />staff_name
        <input type="text" name="staff_name" ng-model="Staff.staff_name" />
        <br />state_name
        <input type="text" name="state_name" ng-model="Staff.state_name" />
        <br />unit_joining_date
        <input type="text" name="unit_joining_date" ng-model="Staff.unit_joining_date" />
        <br />unit_name
        <input type="text" name="unit_name" ng-model="Staff.unit_name" />
        <br />upload_staff_pic
        <input type="text" name="upload_staff_pic" ng-model="Staff.upload_staff_pic" />
        <br />work_start_date
        <input type="text" name="work_start_date" ng-model="Staff.work_start_date" />
        <br />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>
