<div>
    <form name="TargetForm">
        <h1>Target</h1>
        <br />Address2
        <input type="text" name="Address2" ng-model="Target.Address2" />
        <br />BC_name
        <input type="text" name="BC_name" ng-model="Target.BC_name" />
        <br />BDA_name
        <input type="text" name="BDA_name" ng-model="Target.BDA_name" />
        <br />DOB
        <input type="text" name="DOB" ng-model="Target.DOB" />
        <br />Enorollment_no
        <input type="text" name="Enorollment_no" ng-model="Target.Enorollment_no" />
        <br />Father_name
        <input type="text" name="Father_name" ng-model="Target.Father_name" />
        <br />Housing_type
        <input type="text" name="Housing_type" ng-model="Target.Housing_type" />
        <br />Husband_name
        <input type="text" name="Husband_name" ng-model="Target.Husband_name" />
        <br />ID_number
        <input type="text" name="ID_number" ng-model="Target.ID_number" />
        <br />ID_type
        <input type="text" name="ID_type" ng-model="Target.ID_type" />
        <br />IFSC_code
        <input type="text" name="IFSC_code" ng-model="Target.IFSC_code" />
        <br />Index_score
        <input type="text" name="Index_score" ng-model="Target.Index_score" />
        <br />Member_Name
        <input type="text" name="Member_Name" ng-model="Target.Member_Name" />
        <br />Mother_name
        <input type="text" name="Mother_name" ng-model="Target.Mother_name" />
        <br />No_of_members
        <input type="text" name="No_of_members" ng-model="Target.No_of_members" />
        <br />Resident_proof
        <input type="text" name="Resident_proof" ng-model="Target.Resident_proof" />
        <br />Target_id
        <input type="text" name="Target_id" ng-model="Target.Target_id" />
        <br />Unit_name
        <input type="text" name="Unit_name" ng-model="Target.Unit_name" />
        <br />address
        <input type="text" name="address" ng-model="Target.address" />
        <br />age
        <input type="text" name="age" ng-model="Target.age" />
        <br />bank_ac_number
        <input type="text" name="bank_ac_number" ng-model="Target.bank_ac_number" />
        <br />bank_branch_name
        <input type="text" name="bank_branch_name" ng-model="Target.bank_branch_name" />
        <br />bank_name
        <input type="text" name="bank_name" ng-model="Target.bank_name" />
        <br />caste
        <input type="text" name="caste" ng-model="Target.caste" />
        <br />cost_of _animal
        <input type="text" name="cost_of _animal" ng-model="Target.cost_of _animal" />
        <br />date
        <input type="text" name="date" ng-model="Target.date" />
        <br />daughter_above15
        <input type="text" name="daughter_above15" ng-model="Target.daughter_above15" />
        <br />daughter_below15
        <input type="text" name="daughter_below15" ng-model="Target.daughter_below15" />
        <br />details
        <input type="text" name="details" ng-model="Target.details" />
        <br />mobile_number
        <input type="text" name="mobile_number" ng-model="Target.mobile_number" />
        <br />no_of_animals
        <input type="text" name="no_of_animals" ng-model="Target.no_of_animals" />
        <br />no_of_daughter
        <input type="text" name="no_of_daughter" ng-model="Target.no_of_daughter" />
        <br />no_of_sons
        <input type="text" name="no_of_sons" ng-model="Target.no_of_sons" />
        <br />own_irrigate
        <input type="text" name="own_irrigate" ng-model="Target.own_irrigate" />
        <br />own_non_irrigate
        <input type="text" name="own_non_irrigate" ng-model="Target.own_non_irrigate" />
        <br />poverty_status
        <input type="text" name="poverty_status" ng-model="Target.poverty_status" />
        <br />product_assets_value
        <input type="text" name="product_assets_value" ng-model="Target.product_assets_value" />
        <br />response
        <input type="text" name="response" ng-model="Target.response" />
        <br />sahred_irrigate
        <input type="text" name="sahred_irrigate" ng-model="Target.sahred_irrigate" />
        <br />share_non_irrigate
        <input type="text" name="share_non_irrigate" ng-model="Target.share_non_irrigate" />
        <br />son_above15
        <input type="text" name="son_above15" ng-model="Target.son_above15" />
        <br />son_below15
        <input type="text" name="son_below15" ng-model="Target.son_below15" />
        <br />staff_name
        <input type="text" name="staff_name" ng-model="Target.staff_name" />
        <br />total_area
        <input type="text" name="total_area" ng-model="Target.total_area" />
        <input type="submit" ng-click="AddRec()" />
    </form>
</div>